@{
    MatrixMax.Models.Usuario usuarioLogado = (MatrixMax.Models.Usuario)HttpContext.Current.Session["usuarioLogado"];
    var nome = usuarioLogado.Pessoa.NomeRazaoSocial.Replace(" ", "+");
}

<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MatrixMax - @ViewBag.Title</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="~/Content/Imagens/favicon.png">

    @Styles.Render("~/bundles/css")
    <!-- <link rel="stylesheet" href="assets/css/bootstrap-select.less"> -->

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->

</head>
<body>
    <!-- BARRA LATERAL -->
    <aside id="left-panel" class="left-panel">
        <nav class="navbar navbar-expand-sm navbar-default">

            <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/Home/Index"><img src="~/Content/Imagens/matrix.png" alt="Logo"></a>
            </div>

            <div id="main-menu" class="main-menu collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/Home/Index"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                    </li>
                    @if (usuarioLogado.TipoUsuario == 'A')
                    {
                        <h3 class="menu-title">Administrador</h3><!-- /.menu-title -->
                        <li>
                            <a href="/Admin/Index"> <i class="menu-icon fa fa-bar-chart-o"></i>Relatórios</a>
                        </li>
                        <li>
                            <a href="/Admin/Usuarios"> <i class="menu-icon fa fa-users"></i>Gerenciar usuários</a>
                        </li>
                    }
                    <h3 class="menu-title">Produtos</h3><!-- /.menu-title -->
                    <li>
                        <a href="/Produto/Estoque"> <i class="menu-icon fa fa-truck"></i>Repor Estoque</a>
                    </li>
                    <li>
                        <a href="/Produto/Index"> <i class="menu-icon fa fa-list"></i>Gerenciar produtos</a>
                    </li>
                    <h3 class="menu-title">Vendas</h3><!-- /.menu-title -->

                    <li>
                        <a href="/Venda/Index"> <i class="menu-icon fa fa-money"></i>Nova Venda</a>
                    </li>
                    <li>
                        <a href="/Venda/Historico"> <i class="menu-icon fa fa-calendar"></i>Histórico</a>
                    </li>

                    <h3 class="menu-title">Recargas</h3><!-- /.menu-title -->
                    <li>
                        <a href="/Recarga/Index"> <i class="menu-icon fa fa-repeat"></i>Em Aberto</a>
                    </li>
                    <li>
                        <a href="/Recarga/Registrar"> <i class="menu-icon fa fa-plus-square"></i>Registrar Nova</a>
                    </li>

                    <h3 class="menu-title">Clientes</h3><!-- /.menu-title -->
                    <li>
                        <a href="/Cliente/Index"> <i class="menu-icon fa fa-plus-square"></i>Cadastrar cliente</a>
                    </li>
                    <li>
                        <a href="/Cliente/Atualizar"> <i class="menu-icon fa fa-user"></i>Atualizar dados</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </aside>
    <!-- BARRA LATERAL -->
    <!-- HEADER E CONTENT -->
    <div id="right-panel" class="right-panel">

        <!-- TOPO PÁGINA-->
        <header id="header" class="header">
            <div class="header-menu">
                <div class="col-sm-7">
                    <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                    <div class="header-left">
                        <button class="search-trigger"><i class="fa fa-search"></i></button>
                        <div class="form-inline">
                            <form class="search-form">
                                <input class="form-control mr-sm-2" type="text" placeholder="Pesquisar..." aria-label="Pesquisar">
                                <button class="search-close" type="submit"><i class="fa fa-close"></i></button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" src="https://ui-avatars.com/api/?background=4CAF50&color=fff&length=@(usuarioLogado.Pessoa.NomeRazaoSocial.Split(' ').Length)&name=@usuarioLogado.Pessoa.NomeRazaoSocial.Replace(" ", "+")" alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="#"><i class="fa fa- user"></i>Perfil</a>

                            <a class="nav-link" href="/Login/Logout"><i class="fa fa-power -off"></i>Logout</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- TOPO PÁGINA-->
        @RenderBody()
    </div>
    <!-- HEADER E CONTENT -->

    @Scripts.Render("~/bundles/js")
    @RenderSection("scriptsProduto", false)
</body>
</html>