@model IList<MatrixMax.Models.Produto>
<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Dashboard</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Produtos</a></li>
                    <li class="active">@ViewBag.Categoria</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Produtos</strong>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table" class="table table-striped table-hover table-bordered tab">

                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Preço(s)</th>
                                    <th>Marca</th>
                                    <th>Estoque</th>
                                    <th>Categoria - Subcategoria</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Count; i++)
                                {
                                    <tr>
                                        <td>@Model.ElementAt(i).Nome</td>
                                        <td>
                                            Unitário - @Html.DisplayFor(p => p.ElementAt(i).PrecoUnitario)
                                            @if (Model.ElementAt(i).PrecoRecarga > 0)
                                            {
                                                <br /> @: Recarga - @Html.DisplayFor(p => p.ElementAt(i).PrecoRecarga)
                                            }
                                            @if (Model.ElementAt(i).PrecoTroca > 0)
                                            {
                                                <br /> @: Troca - @Html.DisplayFor(p => p.ElementAt(i).PrecoTroca)
                                            }
                                        </td>
                                        <td>@Model.ElementAt(i).Marca.Nome</td>
                                        <td>@Model.ElementAt(i).Estoque</td>
                                        <td>@Model.ElementAt(i).Subcategoria.CategoriaDaSubcategoria.Nome - @Model.ElementAt(i).Subcategoria.Nome</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div><!-- .content -->

@Scripts.Render("~/bundles/tables/js")

<div class="modal fade" id="ModalRemover" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="smallmodalLabel">Small Modal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Deseja realmente remover o produto {nome}?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>

<script>
    $.getJSON("/Produto/getCategorias", null, function (data) {
        $.each(data.Categorias, function (index, item) { 
            $("#categoriaAdd").append( 
                $("<option></option>")
                    .text(item.Nome)
                    .val(item.Id)
            );
        });
    });

    $.getJSON("/Produto/getMarcas", null, function (data) {
        $.each(data.Marcas, function (index, item) {
            $("#MarcaAdd").append(
                $("<option></option>")
                    .text(item.Nome)
                    .val(item.Id)
            );
        });
    });

    function pegaSubcategorias() {
        var categoriaId = $("#categoriaAdd").val();
        if (categoriaId == 0) {
            $("#subcategoriaAdd option").remove();
            $("#subcategoriaAdd").prop("disabled", true);
            $("#subcategoriaAdd").append(
                $("<option></option>")
                    .text("Selecione...")
                    .val("0")
            );
        }
        else {
            $.getJSON("/Produto/getSubcategorias/" + categoriaId, null, function (data) {
                $("#subcategoriaAdd option").remove();
                $("#subcategoriaAdd").prop("disabled", false);
                $("#subcategoriaAdd").append(
                    $("<option></option>")
                        .text("Selecione...")
                        .val("0")
                );
                $.each(data.Subcategorias, function (index, item) {
                    $("#subcategoriaAdd").append(
                        $("<option></option>")
                            .text(item.Nome)
                            .val(item.Id)
                    );
                });
            });
        }
    }

    function verificaPrecos() {
        var categoriaId = $("#categoriaAdd").val();
        var subcategoriaId = $("#subcategoriaAdd").val();
        if (categoriaId == 2 && subcategoriaId == 6) {
            $("#precoTrocaAdd").prop("disabled", false);
            $("#precoRecargaAdd").prop("disabled", false);
            $("#precoTrocaDiv").prop("hidden", false);
            $("#precoRecargaDiv").prop("hidden", false);
        } else {
            $("#precoTrocaAdd").prop("disabled", true);
            $("#precoRecargaAdd").prop("disabled", true);
            $("#precoTrocaDiv").prop("hidden", true);
            $("#precoRecargaDiv").prop("hidden", true);
        }
    }
</script>

<div class="modal fade" id="ModalAdicionar" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="largeModalLabel">Adicionar Produto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body card-block">
                            <form action="/Produto/Adiciona" method="post" class="">
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">Nome</div>
                                        <input type="text" id="nomeAdd" name="produto.Nome" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">Marca</div>
                                        <select name="produto.MarcaId" id="MarcaAdd" class="form-control">
                                            <option value="0">Selecione...</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">Categoria</div>
                                        <select name="categoriaId" id="categoriaAdd" onchange="pegaSubcategorias(), verificaPrecos()" class="form-control">
                                            <option value="0">Selecione...</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">Subcategoria</div>
                                        <select name="produto.SubcategoriaId" id="subcategoriaAdd" onchange="verificaPrecos()" disabled class="form-control">
                                            <option value="0">Selecione...</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">Estoque inicial</div>
                                        <input type="number" id="estoqueAdd" min="1" value="1" max="100" name="produto.Estoque" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-addon">Preço unitário</div>
                                        <input type="number" step="0.01" min="1" value="1" id="precoUnitarioAdd" name="produto.PrecoUnitario" class="form-control">
                                    </div>
                                </div>
                                <div class="form-group" id="precoRecargaDiv" hidden>
                                    <div class="input-group">
                                        <div class="input-group-addon">Preço recarga</div>
                                        <input type="number" step="0.01" min="1" value="1" id="precoRecargaAdd" name="produto.PrecoRecarga" disabled class="form-control">
                                    </div>
                                </div>
                                <div class="form-group" id="precoTrocaDiv" hidden>
                                    <div class="input-group">
                                        <div class="input-group-addon">Preço troca</div>
                                        <input type="number" step="0.01" min="1" value="1" id="precoTrocaAdd" name="produto.PrecoTroca" disabled class="form-control">
                                    </div>
                                </div>
                                <div class="form-actions form-group text-center">
                                    <button type="submit" class="btn btn-primary">Cadastrar produto</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalEditar" tabindex="-1" role="dialog" aria-labelledby="largeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="largeModalLabel">Editar Produto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body card-block">
                            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                <div class="row form-group">
                                    <div class="col col-md-3"><label class=" form-control-label">Static</label></div>
                                    <div class="col-12 col-md-9">
                                        <p class="form-control-static">Username</p>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="text-input" class=" form-control-label">Text Input</label></div>
                                    <div class="col-12 col-md-9"><input type="text" id="text-input" name="text-input" placeholder="Text" class="form-control"><small class="form-text text-muted">This is a help text</small></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="email-input" class=" form-control-label">Email Input</label></div>
                                    <div class="col-12 col-md-9"><input type="email" id="email-input" name="email-input" placeholder="Enter Email" class="form-control"><small class="help-block form-text">Please enter your email</small></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="password-input" class=" form-control-label">Password</label></div>
                                    <div class="col-12 col-md-9"><input type="password" id="password-input" name="password-input" placeholder="Password" class="form-control"><small class="help-block form-text">Please enter a complex password</small></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="disabled-input" class=" form-control-label">Disabled Input</label></div>
                                    <div class="col-12 col-md-9"><input type="text" id="disabled-input" name="disabled-input" placeholder="Disabled" disabled="" class="form-control"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="textarea-input" class=" form-control-label">Textarea</label></div>
                                    <div class="col-12 col-md-9"><textarea name="textarea-input" id="textarea-input" rows="9" placeholder="Content..." class="form-control"></textarea></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="select" class=" form-control-label">Select</label></div>
                                    <div class="col-12 col-md-9">
                                        <select name="select" id="select" class="form-control">
                                            <option value="0">Please select</option>
                                            <option value="1">Option #1</option>
                                            <option value="2">Option #2</option>
                                            <option value="3">Option #3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="selectLg" class=" form-control-label">Select Large</label></div>
                                    <div class="col-12 col-md-9">
                                        <select name="selectLg" id="selectLg" class="form-control-lg form-control">
                                            <option value="0">Please select</option>
                                            <option value="1">Option #1</option>
                                            <option value="2">Option #2</option>
                                            <option value="3">Option #3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="selectSm" class=" form-control-label">Select Small</label></div>
                                    <div class="col-12 col-md-9">
                                        <select name="selectSm" id="SelectLm" class="form-control-sm form-control">
                                            <option value="0">Please select</option>
                                            <option value="1">Option #1</option>
                                            <option value="2">Option #2</option>
                                            <option value="3">Option #3</option>
                                            <option value="4">Option #4</option>
                                            <option value="5">Option #5</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="disabledSelect" class=" form-control-label">Disabled Select</label></div>
                                    <div class="col-12 col-md-9">
                                        <select name="disabledSelect" id="disabledSelect" disabled="" class="form-control">
                                            <option value="0">Please select</option>
                                            <option value="1">Option #1</option>
                                            <option value="2">Option #2</option>
                                            <option value="3">Option #3</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="multiple-select" class=" form-control-label">Multiple select</label></div>
                                    <div class="col col-md-9">
                                        <select name="multiple-select" id="multiple-select" multiple="" class="form-control">
                                            <option value="1">Option #1</option>
                                            <option value="2">Option #2</option>
                                            <option value="3">Option #3</option>
                                            <option value="4">Option #4</option>
                                            <option value="5">Option #5</option>
                                            <option value="6">Option #6</option>
                                            <option value="7">Option #7</option>
                                            <option value="8">Option #8</option>
                                            <option value="9">Option #9</option>
                                            <option value="10">Option #10</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3"><label class=" form-control-label">Radios</label></div>
                                    <div class="col col-md-9">
                                        <div class="form-check">
                                            <div class="radio">
                                                <label for="radio1" class="form-check-label ">
                                                    <input type="radio" id="radio1" name="radios" value="option1" class="form-check-input">Option 1
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label for="radio2" class="form-check-label ">
                                                    <input type="radio" id="radio2" name="radios" value="option2" class="form-check-input">Option 2
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label for="radio3" class="form-check-label ">
                                                    <input type="radio" id="radio3" name="radios" value="option3" class="form-check-input">Option 3
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3"><label class=" form-control-label">Inline Radios</label></div>
                                    <div class="col col-md-9">
                                        <div class="form-check-inline form-check">
                                            <label for="inline-radio1" class="form-check-label ">
                                                <input type="radio" id="inline-radio1" name="inline-radios" value="option1" class="form-check-input">One
                                            </label>
                                            <label for="inline-radio2" class="form-check-label ">
                                                <input type="radio" id="inline-radio2" name="inline-radios" value="option2" class="form-check-input">Two
                                            </label>
                                            <label for="inline-radio3" class="form-check-label ">
                                                <input type="radio" id="inline-radio3" name="inline-radios" value="option3" class="form-check-input">Three
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3"><label class=" form-control-label">Checkboxes</label></div>
                                    <div class="col col-md-9">
                                        <div class="form-check">
                                            <div class="checkbox">
                                                <label for="checkbox1" class="form-check-label ">
                                                    <input type="checkbox" id="checkbox1" name="checkbox1" value="option1" class="form-check-input">Option 1
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label for="checkbox2" class="form-check-label ">
                                                    <input type="checkbox" id="checkbox2" name="checkbox2" value="option2" class="form-check-input"> Option 2
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label for="checkbox3" class="form-check-label ">
                                                    <input type="checkbox" id="checkbox3" name="checkbox3" value="option3" class="form-check-input"> Option 3
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3"><label class=" form-control-label">Inline Checkboxes</label></div>
                                    <div class="col col-md-9">
                                        <div class="form-check-inline form-check">
                                            <label for="inline-checkbox1" class="form-check-label ">
                                                <input type="checkbox" id="inline-checkbox1" name="inline-checkbox1" value="option1" class="form-check-input">One
                                            </label>
                                            <label for="inline-checkbox2" class="form-check-label ">
                                                <input type="checkbox" id="inline-checkbox2" name="inline-checkbox2" value="option2" class="form-check-input">Two
                                            </label>
                                            <label for="inline-checkbox3" class="form-check-label ">
                                                <input type="checkbox" id="inline-checkbox3" name="inline-checkbox3" value="option3" class="form-check-input">Three
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="file-input" class=" form-control-label">File input</label></div>
                                    <div class="col-12 col-md-9"><input type="file" id="file-input" name="file-input" class="form-control-file"></div>
                                </div>
                                <div class="row form-group">
                                    <div class="col col-md-3"><label for="file-multiple-input" class=" form-control-label">Multiple File input</label></div>
                                    <div class="col-12 col-md-9"><input type="file" id="file-multiple-input" name="file-multiple-input" multiple="" class="form-control-file"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>