@model IList<MatrixMax.Models.Produto>
<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Dashboard</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="#">Produtos</a></li>
                    <li class="active">@Model.First().Subcategoria.CategoriaDaSubcategoria.Nome</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Produtos</strong>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table" class="table table-striped table-hover table-bordered tab">

                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Preço(s)</th>
                                    <th>Marca</th>
                                    <th>Estoque</th>
                                    <th>Categoria - Subcategoria</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.Count; i++)
                                {
                                    <tr>
                                        <td>@Model.ElementAt(i).Nome</td>
                                        <td>
                                            Unitário - @Html.DisplayFor(p => p.ElementAt(i).PrecoUnitario)
                                            @if (Model.ElementAt(i).PrecoRecarga > 0)
                                            {
                                                <br /> @: Recarga - @Html.DisplayFor(p => p.ElementAt(i).PrecoRecarga)
                                            }
                                            @if (Model.ElementAt(i).PrecoTroca > 0)
                                            {
                                                <br /> @: Troca - @Html.DisplayFor(p => p.ElementAt(i).PrecoTroca)
                                            }
                                        </td>
                                        <td>@Model.ElementAt(i).Marca.Nome</td>
                                        <td>@Model.ElementAt(i).Estoque</td>
                                        <td>@Model.ElementAt(i).Subcategoria.CategoriaDaSubcategoria.Nome - @Model.ElementAt(i).Subcategoria.Nome</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div><!-- .content -->

@Scripts.Render("~/bundles/tables/js")

<script>
    function Editar() {
        alert("Editar Modal");
    }

    function Adicionar() {
        alert("Adicionar Modal");
    }
</script>
