<center>
    <form method="post" action="/Produto/Adiciona">
        <label for="nome">Nome: </label>
        <input id="nome" name="produto.Nome" value="@ViewBag.Produto.Nome" class="form-control" />
        <br />@Html.ValidationMessage("produto.Nome")<br />
        <label for="preco">Preço: </label>
        <input id="preco" name="produto.Preco" value="@ViewBag.Produto.Preco" class="form-control" />
        <br />
        @Html.ValidationMessage("produto.InformaticaPrecoInvalido")
        @Html.ValidationMessage("produto.Preco")
        <br />
        <label for="quantidade">Quantidade: </label>
        <input id="quantidade" name="produto.Quantidade" value="@ViewBag.Produto.Quantidade" class="form-control" />
        <br />@Html.ValidationMessage("produto.Quantidade")<br />
        <label for="descricao">Descrição: </label>
        <input id="descricao" name="produto.Descricao" value="@ViewBag.Produto.Descricao" class="form-control" />
        <br />@Html.ValidationMessage("produto.Descricao")<br />
        <label for="categoria">Categoria: </label>
        <select id="categoria" name="produto.CategoriaId" class="form-control">
            @foreach (var categoria in ViewBag.Categorias)
            {
                <option value="@categoria.Id" selected="@categoria.Id.Equals(ViewBag.Produto.CategoriaId)">@categoria.Nome</option>
            }
        </select>
        <br />@Html.ValidationMessage("produto.CategoriaId")<br /><br />
        <input type="submit" value="Cadastrar" class="form-control" />
    </form>
</center>