@model IList<CaelumEstoque.Models.Produto>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <center>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nome</th>
                        <th>Quantidade</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var produto in Model)
                    {
                        <tr>
                            <td>@produto.Id</td>
                            <td>@Html.RouteLink(produto.Nome, "VisualizaProdutos", new { id = produto.Id })</td>
                            <td>@produto.Quantidade</td>
                        </tr>
                    }
                </tbody>
            </table>
            <br /><br />
            @Html.RouteLink("Cadastrar novo produto", "CadastraProduto")
            <br />
            @Html.RouteLink("Categorias", "ListaCategoria") - @Html.RouteLink("Cadastrar nova categoria", "AdicionaCategoria")
        </center>
    </div>
</body>
</html>
